__pycache__/
*.pyc

# Environment variables
.env

# Virtual environments
venv/
.env/
.venv/
# Virtual environment


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp

node_modules/